<!DOCTYPE html>

<html lang="kr">
	<head>
<!-- 		external표현식 -->
		<link rel="stylesheet" href="/css/common.css">
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
		<script  type="text/javascript" src="/js/index.js"></script>
<!-- 		<style> -->
<!-- 				@import url("css/common.css");  -->
<!-- 		</style> -->
	</head>
	<body>
		<header>
			<h1>헤더</h1>
			<section>
				<div class="wrap">
					<ul>
						<li><a href="/sign/signin">로그인</a></li>
						<li><a href="/sign/signup">회원가입</a></li>
					</ul>
				</div>
			</section>
		</header>
		<main>
			<h1>메인 영역</h1>
			<section>
				<div class="wrap">
					
				</div>
			</section>
		</main>
		<footer>
			<h1>푸터영역</h1>
			<section>
				<div class="wrap">
					
				</div>
			</section>
		</footer>
	</body>
</html>